* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 350px;
    font-family: 'PT Sans', sans-serif;
    color: var(--black, #333);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    background-color: #FFF;
}


a,
ol,
ul,
li,
h4,
button {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}


button {
    color: #FFF;
}




a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
}

input {
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
}

.date {
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.section {
    padding-top: 150px;
    padding-bottom: 150px;
}

/*-------------------header----------------------*/



.header {
    padding: 40px 0px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-bar ol {
    display: flex;
    gap: 30px;
}

.nav-bar a {
    color: var(--black, #333);
}

.search {
    display: flex;
    gap: 20px;
}

/*-------------------promo----------------------*/

.promo {
    background: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.promo-title {
    color: var(--white, #FFF);
    font-size: 50px;
    font-weight: 700;
    line-height: 140%;
}

.promo-desc {
    width: 322PX;
    color: #FFF;
}

.promo__content {
    display: grid;
    padding: 120px 0px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}


.promo__txt {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    gap: 40px;
    margin-right: 140px;
}

.promo_about {
    display: flex;
    align-items: center;
    gap: 15px;
}


.arrow {
    position: relative;
}

.img-arrow {
    bottom: 12px;
    left: 5px;
    position: absolute;
}

.promo_about a {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}


.promo-cards {
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    width: 306px;
    padding: 30px 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    background: #5DB7DE;
}

.card-title {
    color: var(--white, #FFF);
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.card-desc {
    color: var(--white, #FFF);
    font-size: 19px;
    font-weight: 700;
    line-height: 140%;
}


/*-------------------services----------------------*/

.services__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.services-txt {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-right: 135px;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pdf-btn {
    background-color: #5DB7DE;
    border-radius: 10px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
}

.services-item {
    display: flex;
    align-items: center;
    width: 250px;
}

.services-item a {
    color: var(--purple, #3D348B);
    text-decoration: underline dotted;
    text-underline-offset: 5px;
}

.services-cards {
    display: grid;
    gap: 20px;
    grid-column: 3/ 13;
    grid-template-columns: repeat(2, 1fr);
}


.services-cards .card {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 1;
    width: 416px;
    background-color: #3D348B;
}