* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 350px;
    font-family: 'PT Sans', sans-serif;
    color: var(--black, #333);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    background-color: #FFF;
}


a,
ol,
ul,
li,
h4,
button {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}


button {
    color: #FFF;
}

a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
}

input {
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
}

.date {
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.section {
    padding-top: 150px;
    padding-bottom: 150px;
}

/*-------------------header----------------------*/



.header {
    padding: 40px 0px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-bar ol {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-bar a {
    color: var(--black, #333);
}

.search {
    display: flex;
    gap: 20px;
}

/*-------------------promo----------------------*/

.promo {
    background: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.promo-title {
    color: var(--white, #FFF);
    font-size: 50px;
    font-weight: 700;
    line-height: 140%;
}

.promo-desc {
    width: 322PX;
    color: #FFF;
}

.promo__content {
    display: grid;
    padding: 120px 0px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}


.promo__txt {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    gap: 40px;
    margin-right: 140px;
}

.promo_about {
    display: flex;
    align-items: center;
    gap: 15px;
}


.arrow {
    position: relative;
}

.img-arrow {
    bottom: 12px;
    left: 5px;
    position: absolute;
}

.promo_about a {
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}


.promo-cards {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.card {
    width: 100%;
    padding: 30px 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    background: #5DB7DE;
}

.card-title {
    display: flex;
    color: var(--white, #FFF);
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.card-desc {
    display: flex;
    color: var(--white, #FFF);
    font-size: 19px;
    font-weight: 700;
    line-height: 140%;
}


/*-------------------services----------------------*/

.services__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.services-txt {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-right: 135px;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pdf-btn {
    background-color: #5DB7DE;
    border-radius: 10px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
}

.services-item {
    display: flex;
    align-items: center;
    width: 250px;
}

.services-item a {
    color: var(--purple, #3D348B);
    text-decoration: underline dotted;
    text-underline-offset: 5px;
}

.services-cards {
    display: grid;
    gap: 20px;
    grid-column: 3/ 13;
    grid-template-columns: repeat(2, 1fr);
}


.services-cards .card {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 1;
    width: 100%;
    background-color: #3D348B;
}


/*-------------------about----------------------*/

.about {
    background: var(--purple, rgba(61, 52, 139, 0.058));
    z-index: 1;
}


.about__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}

.about-title {
    margin-bottom: 60px;
}

.about__content__txt {
    grid-column: 1/7;
}

.about-list li {
    padding-bottom: 10px;
}


.about__content__video {
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about__content__video .card {
    width: 100%;
    gap: 25px;
}


.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
}

.play__video {
    position: absolute;
    bottom: 40%;
    left: 43%;
}

/*-------------------news----------------------*/

.news__title__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.news_about a {
    color: #3D348B;
}

.swiper-slide {
    flex-shrink: 1;
}

.swiper-wrapper {
    overflow-x: visible;
}

.news-slide {
    display: inline-flex;
    margin-right: 24px !important;
}

.news-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#qwe {
    margin: 0px;
}

.news_card_title {
    font-size: 19px;
}

.news_card__txt {
    color: #333;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contacts {
    background-color: hsla(246, 46%, 37%, 0.851);
}

.footer-contacts>.container {
    padding: 45px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contacts>.container a {
    font-weight: 700;
}

.footer-contacts-tel-and-mail {
    display: flex;
    align-items: center;
    gap: 30px;
}


.footer-contacts-tel,
.footer-contacts-mail,
.footer-contacts-address {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-bottom.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-bottom-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer-bottom-list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    list-style: none;
    grid-column: span 3;
}

.footer-bottom-list-title {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.footer-bottom {
    background-color: #3D348B;
}


.footer-copyrights {
    color: var(--white, #FFF);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-align: center;
    background-color: #3D348B;
    padding-bottom: 30px;
}

.footer-copyrights span{
    opacity: 0.5;
}